@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --red: brown;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

*::selection {
  background: brown;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: #f7f7f7;
}

section {
  padding: 2rem 9%;
}

.heading {
  padding-top: 100px;
  text-align: center;
  font-size: 3.5rem;
  color: rgb(102, 102, 102);
}

.heading span {
  color: brown;
}

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  color: brown;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(214, 207, 207);
}

.btn::before {
  text-decoration: none;
  color: white;
  padding: 12px 34px;
  font-size: 16px;
  background: black;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  float: right;
}

.btn:hover::before {
  background: rgb(107, 93, 16);
  transition: 0.3s;
}

.btn:hover {
  background: rgb(107, 93, 16);
  transition: 0.3s;
  color: antiquewhite;
}
.order-btn {
  text-decoration: none;
  color: white;
  padding: 12px 34px;
  font-size: 16px;
  background: black;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  float: right;
  background-color: grey;
}
.order-btn:hover {
  background: rgb(107, 93, 16);
  transition: 0.3s;
  color: antiquewhite;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(128, 128, 128, 0.562);
  padding: 2rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  height: 100px;
}
.header img {
  width: 300px;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #666;
}

.header .navbar a {
  font-size: 20px;
  margin-left: 2rem;
  color: white;
  font-weight: bold;
}

.header .navbar a:hover {
  color: gold;
  width: 100%;
}

#menu-bar {
  font-size: 3rem;
  cursor: pointer;
  color: #666;
  border: 0.1rem solid #666;
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  display: none;
}

/*home css*/
.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 70vh;
  align-items: center;
  background: url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
  padding: 1rem;
  animation: float 3s linear infinite;
}

@keyframes float {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.home .content h3 {
  font-size: 5rem;
  color: #333;
}
.home .content h4 {
  font-size: 3rem;
  color: orange;
}

.home .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

.favourites .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.favourites .box-container .box {
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 0.5rem;
}

.favourites .box-container .box .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}

.favourites .box-container .box .content {
  text-align: center;
  background: #fff;
  padding: 2rem;
}

.favourites .box-container .box .content img {
  margin: 1.5rem 0;
}

.favourites .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.favourites .box-container .box .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}

.favourites .box-container .box:hover .image {
  top: 0;
}

.favourites .box-container .box:hover .content {
  transform: translateY(100%);
}

/*about us css*/
.aboutus {
  background-color: #123033;
  height: auto;
  border-top: 7px solid;
  border-bottom: 7px solid;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  min-height: 70vh;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.aboutus h1 {
  font-size: 45px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: serif;
}
.aboutus h2 {
  padding-top: 2%;
  padding-bottom: 5%;
  font-size: 25px;
  text-align: center;
  color: rgb(230, 214, 125);
  font-weight: bold;
  font-family: serif;
}
.aboutus p {
  font-size: 30px;
  line-height: 110%;
  text-align: center;
  font-weight: 700px;
  color: whitesmoke;
  padding-bottom: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.aboutus .content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.aboutus .image {
  flex: 1 1 40rem;
}
.aboutus .image img {
  width: 100%;
  padding: 1rem;
}
/*location & map css*/
.location {
  height: auto;
  border-top: 7px solid;
  border-bottom: 7px solid;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  min-height: 70vh;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding-top: 2%;
}

.location h1 {
  font-size: 45px;
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: serif;
}
.location h2 {
  padding-top: 2%;
  padding-bottom: 5%;
  font-size: 25px;
  text-align: center;
  color: rgb(139, 129, 67);
  font-weight: bold;
  font-family: serif;
}
.location p {
  font-size: 30px;
  line-height: 110%;
  text-align: center;
  font-weight: 700px;
  color: black;
  padding-bottom: 10%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.location .content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}
.location .map {
  position: relative;
  border-bottom: 3px solid;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

/*order form*/
.order .row {
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border-radius: 0.5rem;
}

.order .row .image {
  flex: 1 1 30rem;
}

.order .row .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.order .row form {
  flex: 1 1 50rem;
  padding: 1rem;
}

.order .row form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order .row form .inputBox input,
.order .row form textarea {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  width: 49%;
}

.order .row form textarea {
  width: 100%;
  resize: none;
  height: 15rem;
}

.order .row form .btn {
  background: none;
}

.order .row form .btn:hover {
  background: brown;
  color: whitesmoke;
}

.footer {
  background: #000;
  text-align: center;
}

.footer .share {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .credit {
  padding: 1.5rem 1rem;
  color: #fff;
  font-weight: normal;
  font-size: 2rem;
}

.footer .credit span {
  color: brown;
}
.sharebtn {
  display: inline-block;
  padding: 0.8rem 3rem;
  color: brown;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 10px;
  background-color: rgb(214, 207, 207);
}

.sharebtn::before {
  text-decoration: none;
  color: white;
  padding: 12px 34px;
  font-size: 16px;
  background: black;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  float: right;
}

.sharebtn:hover::before {
  background: rgb(107, 93, 16);
  transition: 0.3s;
}

.sharebtn:hover {
  background: rgb(107, 93, 16);
  transition: 0.3s;
  color: antiquewhite;
}
/*order page menu css*/
.menu .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: hotpink;
}

.menu .box-container .box {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  text-align: center;
  flex: 1 1 30rem;
  position: relative;
}

.menu .box-container .box img {
  height: 25rem;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
  background-color: purple;
}

.menu .box-container .box .price {
  position: absolute;
  top: 3rem;
  left: 3rem;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: blue;
}

.menu .box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding-top: 1rem;
  background-color: orangered;
}

.menu .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background-color: forestgreen;
}

.menu .box-container .box {
  height: 25rem;
  flex: 1 1 30rem;
  border: 1rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  background-color: aqua;
}

/* .menu .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: blueviolet;
} */

.menu .box-container .box .content {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
  background-color: teal;
}

.menu .box-container .box:hover .content {
  top: 0;
}

#scroll-top {
  position: fixed;
  top: -120%;
  right: 2rem;
  padding: 0.5rem 1.5rem;
  font-size: 4rem;
  color: #fff;
  border-radius: 0.5rem;
  transition: 1s linear;
  z-index: 1000;
  background: rgb(68, 52, 0);
}

#scroll-top.active {
  top: calc(100% - 12rem);
  background: rgb(68, 52, 0);
}
#scroll-cart {
  position: fixed;
  top: -120%;
  right: 2rem;
  padding: 0.5rem 0.5rem;
  font-size: 4rem;
  color: rgb(255, 254, 254);
  border-radius: 0.5rem;
  transition: 1s linear;
  z-index: 1000;
  background: rgb(68, 52, 0);
}

#scroll-cart.active {
  top: calc(100% - 20rem);
  background: rgb(119, 100, 100);
}
/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f7f7f7;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: 0.2rem solid rgba(0, 0, 0, 0.1);
    border-left: 0.5rem solid brown;
    background: #fff;
    color: grey;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .order .row form .inputBox input {
    width: 100%;
  }
}

.shoppingcart h1 {
  width: 3%;
  position: relative;
  top: 60px;
  left: 90%;
  cursor: pointer;
}
.shoppingcart h1::before {
  content: attr(data-count);
  position: absolute;
  color: black;
  right: 16px;
  font-size: 15px;
  text-align: center;
  top: -12px;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  opacity: 0;
}

section .shoppingcart {
  width: 90%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  margin: 100px;
}
section .div {
  width: 22%;
  height: 93%;
  background: grey;
  padding: 1%;
  position: relative;
}
.shoppingcart .shcart .img {
  width: 200px;
  height: 180px;
}
.shoppingcart .shcart .p {
  margin: 5px;
  font-size: auto;
  color: hotpink;
}
.shoppingcart .shcart .h5 {
  width: 50px;
  padding: 50px;
  margin: 10px;
  font-size: 15px;
}
.shoppingcart .shcart .button {
  padding: 5px;
  background: blue;
  border: none;
  outline: none;
  font-weight: bold;
  color: orange;
  cursor: pointer;
}
/*menu page css*/
.fooditem {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: fff;
}
.cafe-item {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  text-align: center;
  flex: 1 1 30rem;
  position: relative;
}
.menuitemimage {
  height: 25rem;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
  background-color: purple;
}
.menuitem {
  color: #333;
  font-size: 2.5rem;
  padding-top: 1rem;
  /* background-color: rgba(128, 128, 128, 0.308); */
}
.cafe-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background-color: rgb(59, 82, 59);
}

.cafe-item-details .menuitemprice {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  background-color: rgb(40, 92, 30);
}

.foodcata {
  color: #333;
  font-size: 2.5rem;
  padding-top: 1rem;
  background-color: fff;
}


.fooditem h1 {
  display: flex;
  text-align: center;
  position: relative;
  font-size: 45px;
}
.fooditem h2 {
  display: flex;
  text-align: center;
  position: relative;
  font-size: 45px;
  color: black;
  text-align: center;
  background-color: burlywood;
}
/*cart css*/
.cart-row {
  display: flex;
}
.cafe-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}
.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 2px solid yellow;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
  
}


.cart-item {
  width: auto;
}

.cart-price {
  width: 20%;
  font-size: 15px;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 15px;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.buy-btn {
  display: block;
  margin: 40px auto 8px auto;
  font-size: 1.75em;
  background-color: green;
}
.mainbtn {
  color: white;
  background-color: black;
  border: none;
  border-radius: 5em;
  font-weight: bold;
  font-size: 2em;
  
}
.mainbtn:hover {
  background-color: brown;
}